In [1]:
chars = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u',
         'v','w','x','y','z']

In [2]:
string_to_int = {}

In [3]:
for x,y in enumerate(chars):
    print('x:',x)
    print('y:',y)

x: 0
y: a
x: 1
y: b
x: 2
y: c
x: 3
y: d
x: 4
y: e
x: 5
y: f
x: 6
y: g
x: 7
y: h
x: 8
y: i
x: 9
y: j
x: 10
y: k
x: 11
y: l
x: 12
y: m
x: 13
y: n
x: 14
y: o
x: 15
y: p
x: 16
y: q
x: 17
y: r
x: 18
y: s
x: 19
y: t
x: 20
y: u
x: 21
y: v
x: 22
y: w
x: 23
y: x
x: 24
y: y
x: 25
y: z

In [4]:
for x,y in enumerate(chars):
    string_to_int[y] = x

In [5]:
print(string_to_int)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("E:/LLM/data/history.csv")
df.head()

,id,summary,dialog
0,1,capital of India is New Delhi,Hi have you heard of the capital of India whic...
1,2,Capital of Odisha is Bhubaneswar,Hi do you know about capital of Odisha is Bhub...
2,3,first emperor of the Maurya Dynasty is Chandra...,Chandragupta Maurya
3,4,The ancient Indian text is considered the olde...,Rigveda

In [5]:
id_list = list(df["id"])
summary_list = list(df["summary"])
dialog_list = list(df["dialog"])

In [6]:
print(dialog_list)

['Hi have you heard of the capital of India which is New Delhi', 'Hi do you know about capital of Odisha is Bhubaneswar and it is also known as temple city of India.', 'Chandragupta Maurya ', 'Rigveda ']

In [10]:
data = []

In [11]:
for i,j,k in zip(id_list,summary_list,dialog_list):
    d = {'id':str(i),'summary':j,'dialogue':k}
    data.append(d)

In [12]:
data

[{'id': '1',
  'summary': 'capital of India is New Delhi',
  'dialogue': 'Hi have you heard of the capital of India which is New Delhi'},
 {'id': '2',
  'summary': 'Capital of Odisha is Bhubaneswar',
  'dialogue': 'Hi do you know about capital of Odisha is Bhubaneswar and it is also known as temple city of India.'},
 {'id': '3',
  'summary': 'first emperor of the Maurya Dynasty is Chandragupta Maurya ',
  'dialogue': 'Chandragupta Maurya '},
 {'id': '4',
  'summary': 'The ancient Indian text is considered the oldest surviving scripture in the world is Rigveda',
  'dialogue': 'Rigveda '}]

In [18]:
dataset["train"][0:2]

TypeError: unhashable type: 'slice'